CompileFlags:                     # Tweak the parse settings
  Add: [-xc, -std=c99, -Wall]             # treat all files as C++, enable more warnings


InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
